<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>代理池后台管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<base href="{{static_url('')}}" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/admin.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container-fluid">
		<div class="page-header header">
			<h2>后台管理系统</h2>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
				  <a href="#" class="list-group-item active">Cras justo odio</a>
				  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item">Morbi leo risus</a>
				  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item">Vestibulum at eros</a>
				</div>
			</div>
			<div class="col-md-10">

			</div>
		</div>
	</div>
</body>
</html>
